<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinerMon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MinerMon.Properties.Settings>
            <setting name="PoolStatsAddressUrl" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.server.com</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EmailRecipients" serializeAs="String">
                <value>email_recipient@somewhere.com</value>
            </setting>
            <setting name="StopMinerCommand" serializeAs="String">
                <value>taskkill /im notepad.exe /f</value>
            </setting>
            <setting name="StartMinerCommand" serializeAs="String">
                <value>test.bat</value>
            </setting>
            <setting name="NotifyOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitorName" serializeAs="String">
                <value>XMR</value>
            </setting>
            <setting name="PoolMaximumLastUpdateTimeout" serializeAs="String">
                <value>00:03:00</value>
            </setting>
            <setting name="EmailSender" serializeAs="String">
                <value>dcarapic@gmail.com</value>
            </setting>
            <setting name="MinerExecutable" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
        </MinerMon.Properties.Settings>
    </applicationSettings>
</configuration>